@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: c;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--primary);
  color: var(--foreground);
  font-family: "Times New Roman", Times, serif;

}